.container_card {
    margin-top: 3vh;
    background-color: transparent!important;
    width: 100%;
	border: transparent!important;
}
  
.color_text {
	margin: 0;
	font-size: 3vw; /* Cambiado a unidades relativas */
	background: linear-gradient(90deg, #fe3051, #ff6074);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin-top: 10vh; /* Cambiado a unidades relativas */
	padding: 2vh; /* Cambiado a unidades relativas */
	margin-left: 10vw; /* Cambiado a unidades relativas */
  }

.color_text_acerca{
	margin: 0;
	font-size: 3vw; /* Cambiado a unidades relativas */
	background: linear-gradient(90deg, #fe3051, #ff6074);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin-top: 1vh; /* Cambiado a unidades relativas */
	padding: 2vh; /* Cambiado a unidades relativas */
	margin-left: 1vw; /* Cambiado a unidades relativas */
}
.color_parrafo_acerca{
	
	background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
	-webkit-background-clip: text;
	background-clip: text;

	-webkit-text-fill-color: transparent;
	
	font-weight: bold;
	padding: 1vh; /* Cambiado a unidades relativas */
	font-size: 1.4vw; /* Cambiado a unidades relativas */
	margin-left: 1vw; /* Cambiado a unidades relativas */
	text-align: justify;
	margin-bottom: 100px !important;
	
}
.color_parrafo {
  color: aliceblue;
  padding: 2vh; /* Cambiado a unidades relativas */
  font-size: 1.5vw; /* Cambiado a unidades relativas */
  margin-left: 10vw; /* Cambiado a unidades relativas */
  text-align: justify;
}
.color_parrafo_acerca{
	color: aliceblue;
	padding: 1vh; /* Cambiado a unidades relativas */
	font-size: 1.4vw; /* Cambiado a unidades relativas */
	margin-left: 1vw; /* Cambiado a unidades relativas */
	text-align: justify;
	margin-bottom: 100px !important;
	
}
.button_style {
	color: white !important;
	font-weight: bold !important;
	background: linear-gradient(90deg, #fe3051, #ff6074);
	cursor: pointer;
	transition: transform 0.3s ease;
	margin-left: 11vw; /* Cambiado a unidades relativas */
	margin-top: 1vh; /* Cambiado a unidades relativas */
	
	box-shadow: -9px 3px 34px 7px rgba(0, 0, 0, 1);
  }
.button_style:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse sobre el botón */
	
}
.image_style{
	width: 40% !important;
	height: auto;
	margin-top: 50px;
	box-shadow: 48px -35px 43px rgba(0, 0, 0, 0.4);
	

	
}
.image_style_acerca {
	width: 25vw !important;
	height: auto;
	margin-top: 15vh;
	box-shadow: -31px -25px 27px rgba(0, 0, 0, 0.6);
}
.icon_style {
	width: 3vw !important; /* Cambiado a unidades relativas */
	height: 3vw; /* Cambiado a unidades relativas */
  }
  
.icon_style:hover{
	transform: scale(1.2);
}
.icon-container {
	display: flex; /* Utiliza el modelo de caja flexible */
	align-items: center; /* Centra los elementos verticalmente */
	margin-top: 3vh; /* Cambiado a unidades relativas */
	margin-left: 11vw; /* Cambiado a unidades relativas */
	margin-right: 20vw; /* Cambiado a unidades relativas */
  }
/*@media (min-width: 768px) {
	.image_style {
	  float: right;
	  max-width: 50%; /* Cambia este valor según tus necesidades 
	}
  }*/
  
@media (max-width: 768px) {
	.color_text {
	  font-size: 6vw; /* Ajustamos el tamaño del texto para tabletas */
	  margin-top: 2vh;
	}
	.color_parrafo {
	  font-size: 3vw; /* Ajustamos el tamaño del texto para tabletas */
	}
	.icon_style {
		width: 5vw !important; /* Cambiado a unidades relativas */
		height: 5vw;
	  }
	.image_style{
		margin-top: 1px;
	}
	.color_text_acerca {
		font-size: 6vw; /* Ajustamos el tamaño del texto para tabletas */
		margin-top: 1vh;
		margin: 0;
	  }
	  .color_parrafo_acerca{
		font-size: 2.8vw; /* Ajustamos el tamaño del texto para tabletas */
		
	  }
	  .image_style_acerca{
		  width: 50vw !important;
		  height: auto;
		  margin-top: 5vh;
	  }
  }
